@font-face {
  font-family: "IRG N2878R3 GCA";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./irg-n2878r3-gca-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IRG N2878R3 GCP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./irg-n2878r3-gcp-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IRG N2878R3 HCP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./irg-n2878r3-hcp-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IRG N2878R3 TCP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./irg-n2878r3-tcp-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IRG N2878R3 UCP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./irg-n2878r3-ucp-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IRG N2878R3 VCP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./irg-n2878r3-vcp-Regular.ttf") format("truetype");
}
